body {background: #cff;}

footer {
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	width: 710px;
	text-align: center;
}
footer nav {float: none;}

header {padding-top: 20px;}
header img {background: #fff; padding: 1em;}

section {
	background: #fff;
	font-size: 120%;
	margin-top: 1em;
	padding: 20px;
}

.container {width: 710px;}


/* Links */
a {color: #09c; text-decoration: none;}
a:hover {color: #069; text-decoration: underline;}
a:visited {color: #069;}

/* Navigation */
nav {float: right;}
nav {background-color: white; padding: 0 0.7em; white-space: nowrap;}
nav ul {margin: 0; padding: 0;}
nav ul li {display: inline-block; list-style-type: none; padding: 0.2em 0;}
nav ul li a {font-weight: bold; padding: 0 5px;}
nav ul li a:hover {text-decoration: underline;}
nav ul li a:visited {color: #09c;}

/* Round corners */
.round {
	border-radius:			10px;
	-moz-border-radius:		10px;
	-webkit-border-radius:	10px;
}

/* Sign up button */
a.signup_button {
	background: #006400;
	color: #fff;
	display: block;
	font-size: 150%;
	font-weight: bold;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
	text-align: center;
	width: 190px;
}
